{
  "ColorSchemeName": "{{ scheme-name }}",
  "ColorSchemeAuthor": "{{ scheme-author }}",
  "Note": "Apply this theme in Matlab using the tinted_import function, available at https://github.com/tinted-theming/tinted-matlab",

  "matlab": {
    "colors": {
      "ForegroundColor": [{{ base05-rgb-r }}, {{ base05-rgb-g }}, {{ base05-rgb-b }}],
      "BackgroundColor": [{{ base00-rgb-r }}, {{ base00-rgb-g }}, {{ base00-rgb-b }}],
      "KeywordColor": [{{ base0E-rgb-r }}, {{ base0E-rgb-g }}, {{ base0E-rgb-b }}],
      "CommentColor": [{{ base03-rgb-r }}, {{ base03-rgb-g }}, {{ base03-rgb-b }}],
      "StringColor": [{{ base0B-rgb-r }}, {{ base0B-rgb-g }}, {{ base0B-rgb-b }}],
      "UnterminatedStringColor": [{{ base0F-rgb-r }}, {{ base0F-rgb-g }}, {{ base0F-rgb-b }}],
      "SystemCommandColor": [{{ base0C-rgb-r }}, {{ base0C-rgb-g }}, {{ base0C-rgb-b }}],
      "SyntaxErrorColor": [{{ base08-rgb-r }}, {{ base08-rgb-g }}, {{ base08-rgb-b }}],
      "commandwindow": {
        "HyperlinkColor": [{{ base0D-rgb-r }}, {{ base0D-rgb-g }}, {{ base0D-rgb-b }}],
        "ErrorColor": [{{ base08-rgb-r }}, {{ base08-rgb-g }}, {{ base08-rgb-b }}],
        "WarningColor": [{{ base0A-rgb-r }}, {{ base0A-rgb-g }}, {{ base0A-rgb-b }}]
      },
      "programmingtools": {
        "CodeAnalyzerWarningColor": [{{ base0A-rgb-r }}, {{ base0A-rgb-g }}, {{ base0A-rgb-b }}],
        "AutofixHighlightColor": [{{ base0A-rgb-r }}, {{ base0A-rgb-g }}, {{ base0A-rgb-b }}],
        "VariableHighlightColor": [{{ base0C-rgb-r }}, {{ base0C-rgb-g }}, {{ base0C-rgb-b }}],
        "VariablesWithSharedScopeColor": [{{ base09-rgb-r }}, {{ base09-rgb-g }}, {{ base09-rgb-b }}]
      }
    },
    "editor": {
      "displaysettings": {
        "HighlightCurrentLineColor": [{{ base01-rgb-r }}, {{ base01-rgb-g }}, {{ base01-rgb-b }}],
        "linelimit": {
          "LineColor": [{{ base02-rgb-r }}, {{ base02-rgb-g }}, {{ base02-rgb-b }}]
        }
      },
      "language": {
        "cpp": {
          "BadCharactersColor": [{{ base0F-rgb-r }}, {{ base0F-rgb-g }}, {{ base0F-rgb-b }}],
          "CharactersColor": [{{ base0C-rgb-r }}, {{ base0C-rgb-g }}, {{ base0C-rgb-b }}],
          "CommentColor": [{{ base03-rgb-r }}, {{ base03-rgb-g }}, {{ base03-rgb-b }}],
          "KeywordColor": [{{ base0E-rgb-r }}, {{ base0E-rgb-g }}, {{ base0E-rgb-b }}],
          "PreprocessorColor": [{{ base09-rgb-r }}, {{ base09-rgb-g }}, {{ base09-rgb-b }}],
          "StringsColor": [{{ base0B-rgb-r }}, {{ base0B-rgb-g }}, {{ base0B-rgb-b }}]
        },
        "html": {
          "AttributeNameColor": [{{ base09-rgb-r }}, {{ base09-rgb-g }}, {{ base09-rgb-b }}],
          "AttributeValueColor": [{{ base09-rgb-r }}, {{ base09-rgb-g }}, {{ base09-rgb-b }}],
          "CdataSectionColor": [{{ base0D-rgb-r }}, {{ base0D-rgb-g }}, {{ base0D-rgb-b }}],
          "CharacterColor": [{{ base0C-rgb-r }}, {{ base0C-rgb-g }}, {{ base0C-rgb-b }}],
          "CommentColor": [{{ base03-rgb-r }}, {{ base03-rgb-g }}, {{ base03-rgb-b }}],
          "DoctypeDeclarationColor": [{{ base0B-rgb-r }}, {{ base0B-rgb-g }}, {{ base0B-rgb-b }}],
          "ErrorColor": [{{ base0F-rgb-r }}, {{ base0F-rgb-g }}, {{ base0F-rgb-b }}],
          "OperatorColor": [{{ base0E-rgb-r }}, {{ base0E-rgb-g }}, {{ base0E-rgb-b }}],
          "ProcessingInstructionColor": [{{ base0B-rgb-r }}, {{ base0B-rgb-g }}, {{ base0B-rgb-b }}],
          "TagColor": [{{ base08-rgb-r }}, {{ base08-rgb-g }}, {{ base08-rgb-b }}]
        },
        "java": {
          "CharactersColor": [{{ base0C-rgb-r }}, {{ base0C-rgb-g }}, {{ base0C-rgb-b }}],
          "CommentColor": [{{ base03-rgb-r }}, {{ base03-rgb-g }}, {{ base03-rgb-b }}],
          "KeywordColor": [{{ base0E-rgb-r }}, {{ base0E-rgb-g }}, {{ base0E-rgb-b }}],
          "StringsColor": [{{ base0B-rgb-r }}, {{ base0B-rgb-g }}, {{ base0B-rgb-b }}]
        },
        "tlc": {
          "CommentColor": [{{ base03-rgb-r }}, {{ base03-rgb-g }}, {{ base03-rgb-b }}],
          "KeywordColor": [{{ base0E-rgb-r }}, {{ base0E-rgb-g }}, {{ base0E-rgb-b }}],
          "MacroColor": [{{ base09-rgb-r }}, {{ base09-rgb-g }}, {{ base09-rgb-b }}],
          "StringsColor": [{{ base0B-rgb-r }}, {{ base0B-rgb-g }}, {{ base0B-rgb-b }}]
        },
        "verilog": {
          "CommentColor": [{{ base03-rgb-r }}, {{ base03-rgb-g }}, {{ base03-rgb-b }}],
          "KeywordColor": [{{ base0E-rgb-r }}, {{ base0E-rgb-g }}, {{ base0E-rgb-b }}],
          "OperatorColor": [{{ base09-rgb-r }}, {{ base09-rgb-g }}, {{ base09-rgb-b }}],
          "StringColor": [{{ base0B-rgb-r }}, {{ base0B-rgb-g }}, {{ base0B-rgb-b }}]
        },
        "vhdl": {
          "CommentColor": [{{ base03-rgb-r }}, {{ base03-rgb-g }}, {{ base03-rgb-b }}],
          "KeywordColor": [{{ base0E-rgb-r }}, {{ base0E-rgb-g }}, {{ base0E-rgb-b }}],
          "OperatorColor": [{{ base09-rgb-r }}, {{ base09-rgb-g }}, {{ base09-rgb-b }}],
          "StringColor": [{{ base0B-rgb-r }}, {{ base0B-rgb-g }}, {{ base0B-rgb-b }}]
        }
      }
    },
    "appdesigner": {
      "codeview": {
        "ReadonlyBackgroundColor": [{{ base02-rgb-r }}, {{ base02-rgb-g }}, {{ base02-rgb-b }}]
      }
    }
  }
}
