# Solarized Dark - MATLAB color scheme
# Manually created on 2015-07-04 by Scott Lowe, based on the style guide of
#     http://ethanschoonover.com/solarized
# To enable this color scheme in MATLAB use schemer_import, available at:
#     https://github.com/scottclowe/matlab-schemer
#     https://www.mathworks.com/matlabcentral/fileexchange/53862-matlab-schemer
ColorsUseSystem=Bfalse
ColorsUseMLintAutoFixBackground=Btrue
Editor.VariableHighlighting.Automatic=Btrue
Editor.NonlocalVariableHighlighting=Btrue
EditorCodepadHighVisible=Bfalse                          # no cell highlighting
EditorCodeBlockDividers=Btrue                            # mark cells with line
Editorhighlight-caret-row-boolean=Btrue
EditorRightTextLineVisible=Btrue
EditorRightTextLimitLineWidth=I1
ColorsText=C0x{{base05-hex}}
ColorsBackground=C0x{{base00-hex}}
Colors_M_Keywords=C0x{{base0E-hex}}                      # violet
Colors_M_Comments=C0x{{base03-hex}}
Colors_M_Strings=C0x{{base0B-hex}}                       # green
Colors_M_UnterminatedStrings=C0x{{base0F-hex}}           # dark red
Colors_M_SystemCommands=C0x{{base0C-hex}}                # cyan
Colors_M_Errors=C0x{{base08-hex}}                        # red
Colors_HTML_HTMLLinks=C0x{{base0D-hex}}                  # blue
Colors_M_Warnings=C0x{{base0A-hex}}                      # yellow
ColorsMLintAutoFixBackground=C0x{{base02-hex}}
Editor.VariableHighlighting.Color=C0x{{base02-hex}}
Editor.NonlocalVariableHighlighting.TextColor=C0x{{base09-hex}}  # orange
Editorhighlight-lines=C0x{{base03-hex}}
Editorhighlight-caret-row-boolean-color=C0x{{base02-hex}}
EditorRightTextLimitLineColor=C0x{{base02-hex}}          # matlab cell lines
# MuPAD
Editor.Language.MuPAD.Color.operator=C0x{{base09-hex}}    # orange
Editor.Language.MuPAD.Color.function=C0x{{base0D-hex}}   # blue
Editor.Language.MuPAD.Color.constant=C0x{{base0B-hex}}   # green
# TLC
Editor.Language.TLC.Color.Colors_M_Keywords=C0x{{base0E-hex}}    # green
# C/C++
Editor.Language.C.Color.preprocessor=C0x{{base09-hex}}   # orange
Editor.Language.C.Color.char-literal=C0x{{base0C-hex}}   # cyan
# Java
Editor.Language.Java.Color.char-literal=C0x{{base0C-hex}}# cyan
# VHDL
Editor.Language.VHDL.Color.operator=C0x{{base09-hex}}    # orange
# Verilog
Editor.Language.Verilog.Color.operator=C0x{{base09-hex}} # orange
# XML
Editor.Language.XML.Color.tag=C0x{{base08-hex}}          # red
Editor.Language.XML.Color.attribute=C0x{{base09-hex}}     # orange
Editor.Language.XML.Color.operator=C0x{{base0B-hex}}     # green
Editor.Language.XML.Color.value=C0x{{base0C-hex}}        # cyan
Editor.Language.XML.Color.doctype=C0x{{base0D-hex}}      # blue
Editor.Language.XML.Color.ref=C0x{{base0E-hex}}          # violet
Editor.Language.XML.Color.pi-content=C0x{{base0E-hex}}   # violet
Editor.Language.XML.Color.cdata-section=C0x{{base0F-hex}}# dark red
