# {{ scheme-name }} color scheme for Matlab by {{ scheme-author }}
# Apply this theme using the tinted_import function, available at 
# https://github.com/tinted-theming/tinted-matlab 

ColorsText, 0x{{base05-hex}}
ColorsBackground, 0x{{base00-hex}}
Colors_M_Keywords, 0x{{base0E-hex}}
Colors_M_Comments, 0x{{base03-hex}}
Colors_M_Strings, 0x{{base0B-hex}}
Colors_M_UnterminatedStrings, 0x{{base0F-hex}}
Colors_M_SystemCommands, 0x{{base0C-hex}}
Colors_M_Errors, 0x{{base08-hex}}
Colors_HTML_HTMLLinks, 0x{{base0D-hex}}
Colors_M_Warnings, 0x{{base0A-hex}}
ColorsMLintAutoFixBackground, 0x{{base02-hex}}
Editor.VariableHighlighting.Color, 0x{{base02-hex}}
Editor.NonlocalVariableHighlighting.TextColor, 0x{{base09-hex}}
Editorhighlight-lines, 0x{{base03-hex}}
Editorhighlight-caret-row-boolean-color, 0x{{base02-hex}}
EditorRightTextLimitLineColor, 0x{{base02-hex}}
# MuPAD
Editor.Language.MuPAD.Color.operator, 0x{{base09-hex}}
Editor.Language.MuPAD.Color.function, 0x{{base0D-hex}}
Editor.Language.MuPAD.Color.constant, 0x{{base0B-hex}}
# TLC
Editor.Language.TLC.Color.Colors_M_Keywords, 0x{{base0E-hex}}
# C/C++
Editor.Language.C.Color.preprocessor, 0x{{base09-hex}}
Editor.Language.C.Color.char-literal, 0x{{base0C-hex}}
# Java
Editor.Language.Java.Color.char-literal, 0x{{base0C-hex}}
# VHDL
Editor.Language.VHDL.Color.operator, 0x{{base09-hex}}
# Verilog
Editor.Language.Verilog.Color.operator, 0x{{base09-hex}}
# XML
Editor.Language.XML.Color.tag, 0x{{base08-hex}}
Editor.Language.XML.Color.attribute, 0x{{base09-hex}}
Editor.Language.XML.Color.operator, 0x{{base0B-hex}}
Editor.Language.XML.Color.value, 0x{{base0C-hex}}
Editor.Language.XML.Color.doctype, 0x{{base0D-hex}}
Editor.Language.XML.Color.ref, 0x{{base0E-hex}}
Editor.Language.XML.Color.pi-content, 0x{{base0E-hex}}
Editor.Language.XML.Color.cdata-section, 0x{{base0F-hex}}

